@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <a asp-action="Index" asp-controller="Restaurants">Restaurants Nearby</a>
            </div>
        </div>
    </div>
