
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/AppStyle.css" />
    <title>Hungry?</title>
</head>
<body style="top: 0px; left: 0px; width: 1920px; height: 1080px; background: transparent linear-gradient(180deg, #FF7F00 0%, #FFB100 100%) 0% 0% no-repeat padding-box; opacity: 1;">
    <div class="container" style="top: 277px; left: 689px; width: 543px; height: 576px; background: #FF6767 0% 0% no-repeat padding-box; box-shadow: 0px 24px 35px #696969; border: 2px solid #FFFFFF; border-radius: 57px; opacity: 0.2;">
        <div class="btn-block" style="top: 170px; left: 28px; width: 232px; height: 83px; background: #FF8D15 0% 0% no-repeat padding-box; border: 2px solid #FFFFFF; border-radius: 49px; opacity: 1;">
            <a asp-action="Index" asp-controller="Home" style="top: 188px; left: 65px; width: 159px; height: 48px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 40px/49px Helvetica Neue; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                Go back
            </a>
        </div>
        <div class="table" style="top: 277px; left: 689px; width: 543px; height: 576px; background: #FF6767 0% 0% no-repeat padding-box; box-shadow: 0px 24px 35px #00000064; border: 2px solid #FFFFFF; border-radius: 57px; opacity: 0.2;">
            <div class="text-lg-center" style="top: 298px; left: 821px; width: 280px; height: 168px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 70px/85px var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: center; font: normal normal bold 70px/85px Helvetica Neue; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                Who's Hungry?
            </div>
            <div class="form-text" style="top: 499px; left: 725px; width: 471px; height: 61px; background: #FFFFFF 0% 0% no-repeat padding-box; border: 2px solid #7C7C7C; border-radius: 10px; opacity: 1;">
                <a asp-action="Index" style="top: 506px; left: 755px; width: 196px; height: 48px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 40px/49px Helvetica Neue; letter-spacing: 0px; color: #7C7C7C; opacity: 0.4;">
                    Username
                </a>
            </div>
            <div class="form-text" style="top: 616px; left: 725px; width: 471px; height: 61px; background: #FFFFFF 0% 0% no-repeat padding-box; border: 2px solid #7C7C7C; border-radius: 10px; opacity: 1;">
                <a asp-action="Index" style="top: 623px; left: 755px; width: 189px; height: 48px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 40px/49px Helvetica Neue; letter-spacing: 0px; color: #7C7C7C; opacity: 0.4;">
                    Password
                </a>
            </div>
            <div class="btn" style="top: 714px; left: 774px; width: 374px; height: 83px; background: #FF8D15 0% 0% no-repeat padding-box; border: 2px solid #FFFFFF; border-radius: 49px; opacity: 1;">
                <a asp-action="Index" asp-controller="Restaurants" style="top: 732px; left: 873px; width: 167px; height: 48px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 40px/49px Helvetica Neue; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                    Let's Go!
                </a>
            </div>
            <div class="nav-link" style="top: 813px; left: 883px; width: 156px; height: 24px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/25px var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: center; text-decoration: underline; font: normal normal bold 20px/25px Helvetica Neue; letter-spacing: 0px; color: #000000; opacity: 1;">
                Reset Password
            </div>
        </div>
    </div>
</body>
</html>
