@{
    ViewBag.Title += "Welcome Back";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="description" content="I'm Hungry - web application for hungry people. Don't know what to eat, let us pick a restaurant for you!" />

    <meta name="author" content="David Perez" />

    <title>I'm Hungry - Welcome Back!</title>
</head>
<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <header class="page-header page-header-dark bg-img-cover overlay overlay-80" style="background-image: url('https://s3-media0.fl.yelpcdn.com/bphoto/Pzm9px9ImqIGPe7cnqh7Iw/o.jpg')">
                    <div class="page-header-content py-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-10 text-center">
                                    <div data-aos="fade-up">
                                        <h1 class="page-header-title">Welcome back David!</h1>
                                        <h2 class="page-header-text">How did you like <b>The Goat &amp; Vine</b></h2>
                                    </div>
                                    <br>
                                    <input type="image" id="ThumbsUp" style="height:100px; width: auto;" src="~/assets/PNGs/thumbsup.png" alt="Thumbs Up">
                                    <input type="image" id="ThumbsDown" style="height:100px; width: auto;" src="~/assets/PNGs/thumbsdown.png" alt="Thumbs Down">
                                    <br/>
                                    <a class="btn btn-link btn-marketing" href="Search/">Skip</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                    </div>
                </header>
            </main>
        </div>
        <div id="layoutDefault_footer">
            <footer class="footer pt-10; pb-5 mt-auto; bg-light; footer-light;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 small">Copyright &copy; David Perez 2020</div>
                        <div class="col-md-6 text-md-right small">
                            <a href="javascript:void(0);">Privacy Policy</a>
                            &middot;
                            <a href="javascript:void(0);">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
